/* Estilos para el contenedor principal */
.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    font-family: Arial, sans-serif;
    /* Cambiar la fuente a Arial */
}

/* Estilos para el temporizador */
.timer {
    font-size: 36px;
    margin-bottom: 20px;
}

/* Estilos para el contenedor de la lista de temas */
.topics-container {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
}

/* Estilos para la lista de temas */
.topics-list {
    text-align: left;
    margin-bottom: 10px;
}

/* Estilos para los botones */
.timer-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Estilo específico para el botón "Agregar Tema" */
#addTopic {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Estilos para el cuadro de texto */
#tema {
    padding: 10px 20px;
    color: #000;
    /* Cambiar color de texto */
    border: 2px solid #007bff;
    /* Añadir borde */
    border-radius: 4px;
}

.temas-guardados {
    position: relative;
    /* Establecemos la posición relativa */
    margin-top: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    margin-bottom: 10px;
    overflow: hidden;
    /* Para que el contenido no se desborde */
}

/* Estilos para el botón de eliminar */
.delete-button {
    position: absolute;
    /* Posicionamiento absoluto */
    top: 50%;
    /* Lo posicionamos en el 50% del contenedor verticalmente */
    right: 0;
    /* Lo posicionamos en el borde derecho */
    transform: translateY(-50%);
    /* Lo desplazamos hacia arriba la mitad de su altura */
    background: none;
    border: none;
    font-size: 1.2em;
    color: #999;
    cursor: pointer;
}

.delete-button.hidden {
    display: none;
}

/* Estilo específico para el botón "Copiar" */
#copy {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.mi-boton {
    background-color: #007bff;
    /* Color de fondo */
    border: none;
    /* Quita el borde */
    color: white;
    /* Color del texto */
    padding: 10px 20px;
    /* Espaciado interno (arriba/abajo, izquierda/derecha) */
    text-align: center;
    /* Alineación del texto */
    text-decoration: none;
    /* Quita la subrayado del texto */
    display: inline-block;
    /* Hace que el botón se comporte como un bloque */
    font-size: 16px;
    /* Tamaño del texto */
    margin: 4px 2px;
    /* Margen exterior (arriba/abajo, izquierda/derecha) */
    cursor: pointer;
    /* Cambia el cursor al pasar sobre el botón */
    border-radius: 4px;
    /* Añade bordes redondeados */
}

.close-buton {
    background-color: transparent;
    /* Color de fondo */
    border: 2px solid #ccc;
    /* Quita el borde */
    color: rgb(0, 0, 0);
    /* Color del texto */
    padding: 10px 20px;
    /* Espaciado interno (arriba/abajo, izquierda/derecha) */
    text-align: center;
    /* Alineación del texto */
    text-decoration: none;
    /* Quita la subrayado del texto */
    display: inline-block;
    /* Hace que el botón se comporte como un bloque */
    font-size: 16px;
    /* Tamaño del texto */
    margin: 4px 2px;
    /* Margen exterior (arriba/abajo, izquierda/derecha) */
    cursor: pointer;
    /* Cambia el cursor al pasar sobre el botón */
    border-radius: 4px;
    /* Añade bordes redondeados */
}

.close {
    margin-top: 10px;
}

.abrir-boton {
    background-color: #007bff;
    /* Color de fondo */
    border: none;
    /* Quita el borde */
    color: white;
    /* Color del texto */
    padding: 10px 20px;
    /* Espaciado interno (arriba/abajo, izquierda/derecha) */
    text-align: center;
    /* Alineación del texto */
    text-decoration: none;
    /* Quita la subrayado del texto */
    display: inline-block;
    /* Hace que el botón se comporte como un bloque */
    font-size: 16px;
    /* Tamaño del texto */
    margin: 4px 2px;
    /* Margen exterior (arriba/abajo, izquierda/derecha) */
    cursor: pointer;
    /* Cambia el cursor al pasar sobre el botón */
    border-radius: 4px;
    /* Añade bordes redondeados */
}

/* Estilos para el botón de ayuda */
.help-button {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 24px;
    padding: 5px 10px;
    border: none;
    background-color: transparent;
    color: #333;
    cursor: pointer;
    z-index: 1000;
}

/* Estilos para el panel de ayuda */
.help-panel {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
    z-index: 1000;
    font-family: Arial, sans-serif;
    overflow-y: scroll;
    max-height: 80vh;
    width: 90%;
    max-width: 400px;
}

@media (max-width: 768px) {
    .help-panel {
        width: 90%;
        /* Porcentaje del ancho de la ventana */
        max-width: none;
        /* Elimina el ancho máximo */
    }
}

/* Estilos para el botón de cerrar ayuda */
.close-help-button {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 18px;
    padding: 5px;
    border: none;
    background-color: transparent;
    color: #333;
    cursor: pointer;
}

/* Estilos para los botones dentro del panel */
.panel button {
    display: block;
    margin-bottom: 10px;
}

.d-panel {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
    z-index: 1000;
    font-family: Arial, sans-serif;
    max-height: 80vh;
    width: 90%;
    max-width: 400px;
    text-align: center;
}

@media (max-width: 768px) {
    .d-panel {
        width: 90%;
        /* Porcentaje del ancho de la ventana */
        max-width: none;
        /* Elimina el ancho máximo */
    }
}

.temas {
    display: flex;
    align-items: center;
    margin-top: 20px;
    flex-direction: column;
}

.temas-s {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.select-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.select-container select {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px; /* Separación entre el select y el botón */
    border: 2px solid #007bff;
    border-radius: 4px;
}

.add-topic-button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    border: none;
}

/* Estilos para el recuadro de confirmación */
.confirmation-panel {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
    z-index: 1000;
    font-family: Arial, sans-serif;
    max-height: 80vh;
    width: 90%;
    max-width: 400px;
    text-align: center;
}

@media (max-width: 768px) {
    .confirmation-panel {
        width: 90%;
        /* Porcentaje del ancho de la ventana */
        max-width: none;
        /* Elimina el ancho máximo */
    }
}

/* Estilos para los botones de confirmación */
.confirm-reset-yes {
    background-color: #ff0000;
    /* Color de fondo */
    border: none;
    /* Quita el borde */
    color: white;
    /* Color del texto */
    padding: 10px 20px;
    /* Espaciado interno (arriba/abajo, izquierda/derecha) */
    text-align: center;
    /* Alineación del texto */
    text-decoration: none;
    /* Quita la subrayado del texto */
    display: inline-block;
    /* Hace que el botón se comporte como un bloque */
    font-size: 16px;
    /* Tamaño del texto */
    margin: 4px 2px;
    /* Margen exterior (arriba/abajo, izquierda/derecha) */
    cursor: pointer;
    /* Cambia el cursor al pasar sobre el botón */
    border-radius: 4px;
    /* Añade bordes redondeados */
}

.confirm-reset-no {
    background-color: #CCC;
    /* Color de fondo */
    border: none;
    /* Quita el borde */
    color: black;
    /* Color del texto */
    padding: 10px 20px;
    /* Espaciado interno (arriba/abajo, izquierda/derecha) */
    text-align: center;
    /* Alineación del texto */
    text-decoration: none;
    /* Quita la subrayado del texto */
    display: inline-block;
    /* Hace que el botón se comporte como un bloque */
    font-size: 16px;
    /* Tamaño del texto */
    margin: 4px 2px;
    /* Margen exterior (arriba/abajo, izquierda/derecha) */
    cursor: pointer;
    /* Cambia el cursor al pasar sobre el botón */
    border-radius: 4px;
    /* Añade bordes redondeados */
    margin-left: 10px;
}

.accions {
    margin-top: 20px;
}
